@use "../../../styles/mixins" as *;

.dateGameIdRow {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.sectionWrapper {
  margin-top: 20px;
}

.byTheNumbersGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  @include tablet-up {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

}

.homeWrapper {
  margin-top: 5px;
}

.awayWrapper {
  padding-bottom: 5px;
}
