@use "../../styles/mixins" as *;

.gameDateSection {
  margin: 10px 0;
  padding: clamp(0px, 1vw, 10px);
  border: 1px solid var(--season-not-selected-background);
  background-color: #ffffff;
  border-radius: 2px;
  &:last-child {
    margin-bottom: unset;
  }
  .dateTitle {
    font-weight: 600;
    font-size: var(--font-size-subhead);
    color: var(--foreground);
    margin: 0 2px 5px;
    opacity: 0.8;
  }
}

.gameDateSectionUl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(0px, 1vw, 10px);
  @include tablet-up {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gameDateSectionLi {
  min-width: 0;
}
