@use "../../styles/mixins" as *;

.gameFlowRow {
  display: flex;
  height: 20px;
  margin: 1px 0;
  align-items: center;
  gap: 2px;
  @include tablet-up {
    gap: 5px;
  }
}

.gameFlowPlayer,
.gameFlowStats {
  flex: 1;
}

.gameFlowPlayer {
  text-align: right;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: clamp(0.5rem, 1.75vw, 1rem);
  letter-spacing: -2%;
  line-height: 0.75rem;
  padding-right: 0;
  @include tablet-up {
    font-size: 0.8rem;
    font-size: clamp(0.7rem, 1.5cqw, 0.9rem);
    line-height: 0.85rem;
    padding-right: 5px;
  }
}

.gameFlowPeriods {
  flex: 4;
  display: flex;
  gap: 2px;
}

.regularPeriod,
.overtimePeriod {
  position: relative;
  overflow: hidden;
  background-color: var(--player-stint-background);
  width: 100%;
  height: 20px;
}

.overtimePeriod {
  width: 42%;
}

.segment {
  position: absolute;
  top: 0;
  height: 100%;
}

.gameFlowStats {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  font-weight: 500;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 20px;
  position: relative;
  background-color: color-mix(in srgb, var(--foreground) 50%, transparent);
  font-size: clamp(0.3rem, 1.55cqw, 0.75rem);
  column-gap: 0.5px;
  @include tablet-up {
    font-size: 0.75rem;
  }
  &::before {
    content: "";
    inset: 0;
    position: absolute;
    border-top: 0.5px solid var(--foreground);
  }
}

.gameFlowRow:last-child {
  .gameFlowStats::before {
    content: "";
    inset: 0;
    position: absolute;
    border-top: 0.5px solid var(--foreground);
    border-bottom: 0.5px solid var(--foreground);
  }
}

.statElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  height: 100%;
}
