.attemptMadeBarWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  h4 {
    padding-bottom: 5px;
    font-weight: 600;
    color: var(--foreground);
    font-size: var(--font-size-body);
    letter-spacing: 0.02em;
    // text-decoration: underline;
    text-transform: uppercase;
  }
}
