.attemptMadeBarWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  h4 {
    padding-bottom: 15px;
  }
}

.barWrapInfo {
  display: grid;
  grid-template-columns: auto 1fr max-content;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.barWrap {
  position: relative;
  display: flex;
}
.tricodeText {
  font-size: 0.8rem;
  font-weight: 600;
}
.barMain {
  background-color: var(--foreground);
  height: 15px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--background);
}

.pctCalloutTop,
.pctCalloutBottom {
  font-size: 0.7rem;
  font-weight: 600;
  height: 0.75rem;
  position: absolute;
  transform: translateX(-1.5rem);
}
.pctCalloutTop {
  top: -1rem;
}
.pctCalloutBottom {
  bottom: -1rem;
}

.totalNum {
  flex: none;
  white-space: nowrap;
  padding-left: 10px;
  font-size: 0.85rem;
  font-weight: 600;
}

.missedBar {
  border-top: 1.5px dashed red;
  border-right: 1.5px dashed red;
  border-bottom: 1.5px dashed red;
}
