.attemptMadeBarWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  h4 {
    padding-bottom: 5px;
    font-weight: 700;
    color: var(--game-info-title);
    font-size: 0.75rem;
    letter-spacing: -1.5%;
    // text-decoration: underline;
    text-transform: uppercase;
  }
}

.barWrapInfo {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  column-gap: 10px;
  align-items: center;
  margin-top: 10px;
  &:last-child {
    margin-top: 5px;
  }
}

.barTrack {
  display: flex;
  align-items: center;
  --num-reserve: 2.75rem;
}

.barWrap {
  position: relative;
  display: flex;
  flex: none;
}

.tricodeText {
  font-size: 0.7rem;
  font-weight: 500;
}
.barMain {
  background-color: var(--foreground);
  height: 15px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--background);
}

.pctCalloutTop,
.pctCalloutBottom {
  font-size: 0.7rem;
  font-weight: 600;
  height: 0.75rem;
  position: absolute;
  transform: translateX(-1.5rem);
}
.pctCalloutTop {
  top: -1rem;
}
.pctCalloutBottom {
  bottom: -1rem;
}

.totalNum {
  flex: none;
  box-sizing: border-box;
  width: var(--num-reserve);
  white-space: nowrap;
  padding-left: 10px;
  font-size: 0.85rem;
  font-weight: 600;
  height: 0.85rem;
}

.missedBar {
  border-top: 1.5px dashed red;
  border-right: 1.5px dashed red;
  border-bottom: 1.5px dashed red;
}

.includeMissed {
  margin-top: 0.25px;
  font-size: 0.8rem;
  line-height: 14px;
  font-weight: 600;
  color: var(--foreground);
  height: 14.5px;
  text-align: center;
  padding: 0;
  border-top: 0.5px solid var(--foreground);
  border-right: 0.5px solid var(--foreground);
  border-bottom: 0.5px solid var(--foreground);
}
