.gameSectionDivider {
  h2 {
    font-size: var(--font-size-heading);
    // font-size: 0.75rem;
    font-weight: 600;
    // color: var(--game-section-divider-foreground);
    color: var(--foreground);
    // background-color: var(--game-section-divider-background);
    // background-color: var(--foreground);
    // border-left: 1px solid color-mix(in srgb, var(--foreground) 40%, transparent);
    border-bottom: 1px solid color-mix(in srgb, var(--foreground) 40%, transparent);
    padding: 5px 0;
    margin: 30px 0;
  }
}
