@use "../../styles/mixins" as *;

.shotChart {
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.shotChartHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.attemptBarFill {
  flex: 1;
}

.teamName {
  font-weight: 600;
  font-size: var(--font-size-larger);
}

.shotInfo {
  height: 2.2em;
  margin: 10px 0 5px;
  font-size: var(--font-size-body);
  color: var(--foreground);
  opacity: 0.7;
}

.court {
  width: 100%;
  background-color: rgba(219, 167, 121, 0.067);
  border: 1px solid color-mix(in srgb, var(--foreground) 40%, transparent);
  border-radius: 6px;
  // max-width: 90%;

  svg {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -1px;
    .courtFrame {
      stroke: var(--foreground);
      stroke-width: 1px;
    }
    .courtFrameBorder {
      stroke-width: 1px;
    }
  }
}

.shotMade {
  fill: #2e8b57;
  stroke: #2e8b57;
  cursor: pointer;
  opacity: 0.75;
  stroke-width: 1.75px;

  &:hover {
    opacity: 1;
  }
}

.shotMissed {
  stroke: #c2483f;
  stroke-width: 1.75px;
  cursor: pointer;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

.shotDistanceSelector {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;

  button {
    font-size: var(--font-size-body);
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid var(--card-border);
    background-color: var(--card-background);
    color: var(--foreground);
    // height:2rem;

    &:hover {
      background-color: var(--card-hover);
    }
  }
}

.zoneActive {
  background-color: var(--foreground) !important;
  color: var(--background) !important;
  border-color: var(--foreground) !important;
}
