.gameTitle {
  h1 {
    font-size: 1.7rem;
    letter-spacing: -1.5%;
    font-weight: 500;
  }
  .atSpan {
    font-weight: 400;
    opacity: 0.9;
  }
}

.teamUnit {
  white-space: nowrap;
}

.score {
  font-weight: 300;
  opacity: 0.7;
}
