.gameTitle {
  h1 {
    font-size: 1.7rem;
    letter-spacing: -1.5%;
    font-weight: 600;
  }
  .atSpan {
    font-weight: 400;
    color: var(--card-h4-color);
  }
}

.teamUnit {
  white-space: nowrap;
}

.score {
  font-weight: 400;
  color: var(--card-h4-color);
}
