.sectionSelector {
  white-space: nowrap;
  font-size: var(--font-size-subhead);
  padding: 5px 10px;
  font-weight: 500;
  background-color: var(--season-not-selected-background);
  color: var(--season-not-selected-foreground);
  &.sectionIsSelected {
    background-color: var(--season-selected-background);
    color: var(--season-selected-foreground);
    pointer-events: none;
  }
}
